@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 2rem;
	color: #545e56;
}

p {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	line-height: 1.75rem;
}

li {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.75rem;
}

code {
	background-color: #917c78;
	color: #eae1df;
	padding: 5px;
	border-radius: 5px;
}
pre {
	background-color: #917c78;
	padding: 10px;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.post-container {
		width: 100%;
		padding: 10px;
	}

	code,
	pre {
		width: 100%;
		overflow-x: auto;
	}

	.other-elements {
		width: 100%;
	}
}
table {
	border: 1px solid #917c78;
}

th {
	border-bottom: 1px solid #917c78;
}

td.first-child {
	border-right: 1px solid #917c78;
}
tbody tr:nth-child(odd) {
	background-color: #917c78;
	color: #eae1df;
}
a {
	text-decoration: underline;
	color: #917c78;
}

.zoomed-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.zoomed-image {
  max-width: 90vw;
  max-height: 90vh;
}
